:root {
    // colors
    --color-primary-blue: hsl(237, 18%, 59%);
    --color-primary-red: hsl(345, 95%, 68%);
    --color-neutral-white: hsl(0, 0%, 100%);
    --color-neutral-blue-1: hsl(236, 21%, 26%);
    --color-neutral-blue-2: hsl(235, 16%, 14%);
    --color-neutral-blue-3: hsl(234, 17%, 12%);
    // font
    // font Weight
    --weight-bold: 700;
}

$bp-small: 680px;

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html, body, #root, .App {
    height: 100%;
}

body {
    background-image:
        url(../assets/images/pattern-hills.svg),
        url(../assets/images/bg-stars.svg),
        linear-gradient( var(--color-neutral-blue-3) 0%,
                        var(--color-neutral-blue-2) 30%,
                       var(--color-primary-red) 600%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center, top center, center;
}

.countdown-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sr-only {
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
}