.flip-clock {
    width: 100%;
    max-width: 68.8rem;
    margin: 0 auto;
    @media only screen and (max-width: $bp-small) {
        max-width: 34.4rem;
    }

    display: flex;
    align-items: center;
    justify-content: space-around;

}

.flip-clock-unit {
    height: 18.4rem;
    @media only screen and (max-width: $bp-small) {
        height: 9.2rem;
    }
    @include unselectable;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.flip-clock-card {
    width: 14rem;
    height: 14.8rem;
    border-radius: .8rem;
    text-align: center;
    background-color: var(--color-neutral-blue-1);
    @media only screen and (max-width: $bp-small) {
        width: 7rem;
        height: 7.4rem;
        border-radius: .4rem;
    }

    z-index: 1;
    position: relative;

    &__hole {
        width: 1.2rem;
        height: 1.2rem;
        @media only screen and (max-width: $bp-small) {
            width: 0.6rem;
            height: 0.6rem;
        }
        border-radius: 50%;
        background-color: var(--color-neutral-blue-2);
        z-index: 10;
        position: absolute;
        top: 50%;
        &--left {
            left: 0;
            transform: translate(-50%, -50%);
        }
        &--right {
            right: 0;
            transform: translate(50%, -50%);
        }
    }

    &__bar {
        width: 100%;
        height: 1px;
        background-color: rgba(0, 0, 0, .25);
        z-index: 10;
        position: absolute;
        left: 0;
        top: 50%;
    }

    &__static {
        width: 100%;
        height: 50%;
        z-index: 2;

        display: flex;
        justify-content: center;
        overflow: hidden;

        &--top {
            align-items: flex-end;
            .t-clock {
                transform: translateY(50%);
            }
        }
        &--bottom {
            align-items: flex-start;
            .t-clock {
                transform: translateY(-50%);
            }
        }
    }
}