.footer {
    margin-top: 10rem;
    display: flex;
    justify-content: center;

    &__icon {
        display: inline-flex;
        margin: 0 3rem;
        @media only screen and (max-width: $bp-small) {
            margin: 0 1.5rem;
        }
        &:hover .icon path {
          fill: var(--color-primary-red);
        }
    }
}