body {
    font-family: 'Red Hat Text', sans-serif;
    font-size: 1.4rem;
    letter-spacing: 0;
    color: var(--color-neutral-white);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.t-clock {
    font-size: 8rem;
    line-height: 7.1rem;
    letter-spacing: -2.4px;
    @media only screen and (max-width: $bp-small) {
        font-size: 4rem;
        line-height: 3.6rem;
        letter-spacing: -1.2px;
    }
    font-weight: var(--weight-bold);
    color: var(--color-primary-red);
}

.t-unit {
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: 5.92px;
    @media only screen and (max-width: $bp-small) {
        font-size: .7rem;
        line-height: .9rem;
        letter-spacing: 3px;
    }
    font-weight: var(--weight-bold);
    color: var(--color-primary-blue);
    text-transform: uppercase;
}

.t-header {
    font-size: 2.2rem;
    line-height: 2.9rem;
    letter-spacing: .75rem;
    @media only screen and (max-width: $bp-small) {
        font-size: 2rem;
        line-height: 1.5rem;
        letter-spacing: .35px;
    }
    font-weight: var(--weight-bold);
    color: var(--color-neutral-white);
    text-transform: uppercase;
}